@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-alphazet: var(--font-alphazet);
  --font-calloveya: var(--font-calloveya);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-alphazet);
}

.gradient-primary {
  background: #3A1F1E;
  background: -webkit-linear-gradient(320deg, rgba(58, 31, 30, 1) 0%, rgba(164, 39, 49, 1) 61%);
  background: -moz-linear-gradient(320deg, rgba(58, 31, 30, 1) 0%, rgba(164, 39, 49, 1) 61%);
  background: linear-gradient(320deg, rgba(58, 31, 30, 1) 0%, rgba(164, 39, 49, 1) 61%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3A1F1E", endColorstr="#A42731", GradientType=0);
}

h1, .h1 {
  font-size: 4rem;
  font-weight: 600;
}

.white {
  color: #fff;
}